<html>
  <head>
    <meta charset="utf-8" />
    <title>Subscriptions App</title>
    <link rel="stylesheet" href="/styles.css" />
    <script type="module" src="/client.js"></script>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/subscribe">Add Subscriber</a></li>
        <li>|</li>
        <li><a href="/newsletter">Newsletter</a></li>
        <li>|</li>
        <li><a href="/">Home</a></li>
      </ul>
    </nav>
    {{{body}}}
  </body>
</html>